@media only screen and (min-width: 35rem) {

    /*  HEADER  */


    .image-container img {
        max-height: 100%;
        width: auto;
    }

    .image-container {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        padding-left: 5%;

    }




    /*  MAIN  */

    .parent-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        column-gap: 15px;
    }

    .parent-cards section {
        box-shadow: 1px 1px 10px black;
    }

    .parent-cards section a {
        color: rgb(16, 0, 85);
    }


    /* NAV */

    nav ul {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
    }

    nav ul li {
        flex: 1 1 560px;
    }


    /*
    header span {
        margin-left: 20px;
        align-items: center;
    }
*/

    h1 {
        font-family: 'Lato', sans-serif;
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-top: 0px;
    }



    #menu {
        display: none;

    }


    /* MAIN OF DISCOVER PAGE */
    .container {
        grid-template-columns: 1fr 3fr;
        gap: 20px;
        padding: 20px;
    }



    picture img:hover {
        box-shadow: 0 0 50px #333;
    }


    .grid-container {
        grid-template-columns: 1fr 1fr;
        height: auto;
    }



    #imgGraphic img {
        width: 15px;
    }

    #imgGraphic span {
        font-size: 10px;
    }


    .callToAction h2 {
        font-size: 20px;
    }




}